@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Roboto:wght@500&display=swap');
.App {
  text-align: center;
}
.menu{
  position: absolute;
  font-family: Quicksand;
  font-style: normal;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-shadow: 0px 0px 5px #E6E6E6;
  font-size: 12px;
  line-height: 15px;

}
#circle {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 117px;
  top: 27px;
  border-radius: 50%;

  background: #5E81FE;
}
#home{
  position: absolute;
  width: 37px;
  height: 15px;
  left: 216px;
  top: 33px;

  font-weight: bold;
  color: #5E81FE;
  text-decoration: none;
}
#blog{
  position: absolute;
  width: 28px;
  height: 15px;
  left: 295px;
  top: 33px;

  font-weight: 500;
  color: #697CA6;
  text-decoration: none;
}
  #features{
    position: absolute;
    width: 55px;
    height: 15px;
    left: 365px;
    top: 33px;

    font-weight: 500;
    color: #697CA6;
    text-decoration: none;
  }
#pricing{
    position: absolute;
    width: 43px;
    height: 15px;
    left: 462px;
    top: 33px;

    font-weight: 500;
    color: #697CA6;
    text-decoration: none;
  }
#doc{
    position: absolute;
    width: 96px;
    height: 15px;
    left: 547px;
    top: 33px;
    color: #697CA6;
    font-weight: 500;
    text-decoration: none;
  }
button.rectangle1{
    border:none;
    background: #D2E1FF;
    position: absolute;
    width: 82px;
    height: 17px;
    left: 1126px;
    top: 32px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #3A79FF;
  }
  .rectangle2{
    position: absolute;
    width: 113px;
    height: 43px;
    left: 1110px;
    top: 19px;

    background: #D2E1FF;
    border-radius: 2px;
  }

.line{
  position: absolute;
  width: 1340px;
  height: 0px;
  left: 0px;
  top: 81px;

  border: 1px solid #D8E3FE;
}
main{
    position: absolute;
    width: 1435px;
    height: 570px;
    left: 0px;
    top: 80px;

    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  }
hr{
  position: absolute;
  width: 1435px;
  height: 0px;
  left: 0px;
  top: -7px;

  border: 1px solid #D8E3FE;
}
.text1{
    position: absolute;
    width: 100px;
    height: 12px;
    left: 573px;
    top: 92px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #3D4F9F;
  }

  .text2{
    position: absolute;
    width: 650px;
    height: 60px;
    left: 300px;
    top: 80px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */
    text-align: center;

    color: #3D4F9F;
  }
  .text3{
    position: absolute;
    width: 502px;
    height: 78px;
    left: 369px;
    top: 190px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #8D96BD;
  }
.cloud1{
  position: absolute;
  width: 31px;
  height: 16px;
  left: 1108px;
  top: 37px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%);
  }
.cloud2{
  position: absolute;
  width: 19.78px;
  height: 10.18px;
  left: 307.22px;
  top: 386px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%);
}

.cloud3{
  position: absolute;
  width: 74.5px;
  height: 76px;
  left: -37px;
  top: 176px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 60% at 50% 100%); 
}
.cloud4{
  position: absolute;
  width: 45px;
  height: 23px;
  left: 253px;
  top: 92px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%); 
}
.cloud5{
  position: absolute;
  width: 45px;
  height: 23px;
  left: 1157px;
  top: 86px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%);
}
.cloud6{
  position: absolute;
  width: 77.81px;
  height: 39px;
  left: 1124px;
  top: 53px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%);
}

.cloud7{
  position: absolute;
  width: 103.47px;
  height: 51.81px;
  left: 1085px;
  top: 477.19px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%);
}

.cloud8{
  position: absolute;
  width: 47.37px;
  height: 24.08px;
  left: 1158px;
  top: 465px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%);
}

.cloud9{
  position: absolute;
  width: 68.02px;
  height: 34.54px;
  left: 1171px;
  top: 494.46px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%);
}
.cloud10{
  position: absolute;
  width: 49.64px;
  height: 24.82px;
  left: 261.27px;
  top: 396.18px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%);
}
.cloud11{
  position: absolute;
  width: 23.44px;
  height: 11.95px;
  left: 253px;
  top: 398.48px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%);
}
.cloud12{
  position: absolute;
  width: 32.63px;
  height: 16.55px;
  left: 294.37px;
  top: 404.45px;

  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
  clip-path: ellipse(50% 100% at 50% 100%);
}
.play{
  border-radius: 50%;
  position: absolute;
  width: 52px;
  height: 52px;
  left: 694px;
  top: 306px;

  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6)
}
.polygon{
  position: absolute;
  width: 10px;
  height: 11px;
  left: 716px;
  top: 327px;
  background: #5E81FF;
}
.line{
  position: absolute;
  width: 1441px;
  height: 347px;
  left: 0px;
  top: 303px;

  background: linear-gradient(360deg, rgba(75, 113, 255, 0) -0.13%, rgba(107, 137, 248, 0.4) 131.12%);
}
.line2{
  position: absolute;
  width: 1441px;
  height: 304.51px;
  left: 0px;
  top: 303px;

  border: 3px solid #5F82FF;
}
.ell1{
  position: absolute;
  width: 15px;
  height: 15px;
  left: 100px;
  top: 597px;

  background: #FFFFFF;
  border: 2px solid #5E80FE;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(82, 131, 255, 0.25);
}
.l1{
  position: absolute;
  width: 190px;
  height: 0px;
  left: 107px;
  top: 447px;

  border: 1px solid #D8E0F7;
  transform: rotate(90deg);
}
.rect{
  position: absolute;
  width: 1440px;
  height: 145px;
  left: 0px;
  top: 650px;

  background: #FFFFFF;
}
.block-2{
  position: absolute;
  width: 1440px;
  height: 776px;
  left: 0px;
  top: 797px;

  background: #F5F8FF;
}
.p1{
  position: absolute;
  width: 149px;
  height: 12px;
  left: 71px;
  top: 208px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #3D4F9F;
}
.p2{
  position: absolute;
  width: 350px;
  height: 45px;
  left: 71px;
  top: 230px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  text-align: left;
  /* identical to box height */

  color: #3D4F9F;
}
.and{
  font-weight: lighter;
}
.p3{
  position: absolute;
  width: 413px;
  height: 151px;
  left: 71px;
  top: 319px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;

  color: #8D96BD;
}
.left_b{
  position: absolute;
  width: 130.08px;
  height: 43px;
  left: 71px;
  top: 1314px;

  border: 1px solid #D1D1E4;
  background: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-radius: 2px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.right_b{
  position: absolute;
  width: 130.08px;
  height: 43px;
  left: 199.92px;
  top: 1314px;

  border: 1px solid #D1D1E4;
  box-sizing: border-box;
  border-radius: 2px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ADB4D2;
}
.phone{
  position: absolute;
  width: 107px;
  height: 214px;
  left: 539px;
  top: 1067px;

  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
  border-radius: 15px;
}
.screen{
  position: absolute;
  width: 539.95px;
  height: 336.62px;
  left:619.02px;
  top: 967px;

  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
  border-radius: 15px;
}

.j{
  position: absolute;
  width: 606px;
  height: 19.8px;
  left: 586px;
  top: 1296.2px;

  background: #FFFFFF;
  box-shadow: 0px 50px 50px rgba(107, 119, 224, 0.05), 0px 50px 150px 
  rgba(104, 113, 198, 0.05), 0px 50px 200px rgba(53, 60, 115, 0.05), 
  0px 20px 40px rgba(159, 162, 195, 0.15);
  border-radius: 15px;
  }

.phone2{
  position: absolute;
  width: 148px;
  height: 280px;
  left: 982px;
  top: 1123px;

  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
  border-radius: 15px;
}

.photo1{
  position: absolute;
  width: 8.71px;
  height: 17px;
  left: 804px;
  top: 32px;
}

.photo2{
  position: absolute;
  width: 14.7px;
  height: 11.79px;
  left: 850.29px;
  top: 34.95px;
}
.photo3{
  position: absolute;
  width: 16.51px;
  height: 13.78px;
  left: 899.52px;
  top: 34.21px;
}
.photo4{
  position: absolute;
  width: 16.51px;
  height: 12.86px;
  left: 949.49px;
  top: 34.50px;
}

img.n{
  position: absolute;
  left: 15.69px;
  top: 12.38px;
}
img.ph1{
  position: absolute;
  left: 0.01px;
  top: 11.02px;
}
img.photo8{
  position: absolute;
width: 116.59px;
height: 29px;
left: 176px;
top: 58px;
}
.photo9{
  position: absolute;
width: 116.58px;
height: 24.29px;
left: 369.08px;
top: 60.65px;
}
.photo10{
  position: absolute;
width: 116.58px;
height: 22.37px;
left: 562.17px;
top: 61.54px;
}
.photo11{
  position: absolute;
width: 116.57px;
height: 24.07px;
left: 754.34px;
top: 60.65px;
}
.photo12{
  position: absolute;
width: 116.58px;
height: 28.94px;
left: 947.42px;
top: 58px;
}

.about{
  position: absolute;
  width: 56px;
  height: 12px;
  left: 592px;
  top: 1716px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  
  color: #3D4F9F;
}
.read{
  position: absolute;
  width: 230px;
  height: 30px;
  left: 505px;
  top: 1728px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;

  color: #3D4F9F;
}
#cl1{
  position: absolute;
  width: 36.75px;
  height: 18.78px;
  left: 62px;
  top: 2209px;
  
  background: #EEF3FF;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);

clip-path: ellipse(50% 100% at 50% 100%);
}
#cl2{
  position: absolute;
width: 46.39px;
height: 23.78px;
left: 125px;
top: 1718.22px;

background: #E1EAFF;
box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
clip-path: ellipse(50% 100% at 50% 100%);
}
#cl3{
  position: absolute;
width: 21.05px;
height: 10.89px;
left: 158.39px;
top: 1716px;

background: #EEF3FF;
box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
clip-path: ellipse(50% 100% at 50% 100%);
}
#cl4{
  position: absolute;
width: 44px;
height: 22px;
left: 26px;
top: 2225px;

background: #D5E0FB;
box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
clip-path: ellipse(50% 100% at 50% 100%);
}
#cl5{
  position: absolute;
width: 81px;
height: 41px;
left: 55px;
top: 2218px;

background: #E1EAFF;
box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
clip-path: ellipse(50% 100% at 50% 100%);
}
.l{
  position: absolute;
  left: 80px;
  top: 17px;
}
#cl6{
  position: absolute;
width: 31px;
height: 16px;
left: 109px;
top: 2231px;

background: #ECF1FC;
box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
clip-path: ellipse(50% 100% at 50% 100%);
}
#cl7{
  position: absolute;
width: 31px;
height: 16px;
left: 1156px;
top: 1778px;

background: #ECF1FC;
box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
clip-path: ellipse(50% 100% at 50% 100%);
}
#cl8{
  position: absolute;
width: 77.81px;
height: 39px;
left: 1073.97px;
top: 1794px;

background: #D5E0FB;
box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
clip-path: ellipse(50% 100% at 50% 100%);
}
#cl9{
  position: absolute;
width: 51.16px;
height: 26px;
left: 1125.84px;
top: 1814px;

background: #E1EAFF;
box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
clip-path: ellipse(50% 100% at 50% 100%);
}
#cl10{
  position: absolute;
width: 36.75px;
height: 18.78px;
left: 1061px;
top: 1797.61px;

background: #EEF3FF;
box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
clip-path: ellipse(50% 100% at 50% 100%);
}

.overview{
  position: absolute;
width: 140px;
height: 254px;
left: 240px;
top: 1900px;
}
#over{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;

  color: #4074F8;
}
#view{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;

  color: #ADB3CB;
}
.files{
  position: absolute;
  width: 140px;
  height: 254px;
  left: 447px;
  top: 1900px;
}

#file1{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;

  color: #4074F8;
}
#file2{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;

  color: #ADB3CB;
}
.meeting{
  position: absolute;
width: 140px;
height: 254px;
left: 654px;
top: 1900px;
}
#meet{
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 25px;
/* identical to box height */
text-align: center;

color: #4074F8;
}
#chats{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 19px;
text-align: center;

color: #ADB3CB;

}
.save{
  position: absolute;
width: 140px;
height: 254px;
left: 861px;
top: 1900px;
}
#sav{
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 25px;
/* identical to box height */
text-align: center;

color: #4074F8;
}
#events{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 19px;
text-align: center;

color: #ADB3CB;
}
.buttons2{
  position: absolute;
width: 337px;
height: 43px;
left: 552px;
top: 2246px;
}
.left_button{
  position: absolute;
  width: 113px;
  height: 43px;
  left: -100px;
  top: -150px;
  background: #FFD7D7;
  border-radius: 2px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #D1D1E4;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #D43F3F;
}
.right_button{
  position: absolute;
  width: 113px;
  height: 43px;
  top: -150px;
  left: 132px;

  background: #D2E1FF;
  border: 1px solid #D1D1E4;
  border-radius: 2px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #3A79FF;
}
#or{
  position: absolute;
width: 16px;
height: 20px;
left: 60px;
top: -150px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #ADB3CB;
}
#circles{
  position: absolute;
  width: 69px;
  height: 69px;
  top: -60px;
  left: 35px;
  border-radius: 50px;
  background: #F1F5FF;
  z-index: 0;
}
#vectors{
  position: absolute;
  width: 14px;
  height: 17px;
  left: 57px;
  top: -35px;
  z-index: 1;
  border: 2.5px solid #4074F8;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}